.section-heading h3 b::after {
    content: "";
    display: block;
    width: 24px;
    height: 2px;
    background: #D83333;
    position: absolute;
    bottom: 0.5px;
    right: 0;
}

.section-heading h3 .blogs-heading::after {
    width: 12px;
}

/* Hide scrollbar for Firefox */
.overflow-x-scroll {
    scrollbar-width: none;
}

/* Hide scrollbar for IE, Edge, and Safari */
.overflow-x-scroll::-webkit-scrollbar {
    width: 0.5em;
}

.overflow-x-scroll::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.privacy::after {
    position: absolute;
    content: '';
    width: 3px;
    height: 3px;
    background: black;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    right: -8px;
}

/* Large devices (laptops/desktops, 768px and up) */
@media only screen and (min-width: 768px) {
    .press-carousel .slick-arrow {
        top: 90%;
        bottom: 10%;

    }

    .press-carousel .slick-arrow::before {
        color: #d0d9de
    }

    .press-carousel .slick-prev {
        left: 65%;
    }

    .press-carousel .slick-next {
        right: 25%;
    }

    .press-carousel .slick-slide {
        height: 280px;
    }

    .press-carousel .press-logos {
        width: 40% !important;
    }

    .press-carousel .press-content {
        width: 60% !important;
    }

    .press-carousel .press-content p {
        margin-left: 1.5rem !important;
        margin-right: 1.5rem !important;
    }
}

/* Large devices (laptops/desktops, 768px and up) */
@media only screen and (max-width: 768px) {
    .press-carousel .slick-arrow {
        top: 90%;
        bottom: 10%;

    }

    .press-carousel .slick-arrow::before {
        color: #d0d9de
    }

    .press-carousel .slick-prev {
        left: 40%;
    }

    .press-carousel .slick-next {
        right: 40%;
    }

    .press-carousel .slick-slide {
        flex-direction: column-reverse;
        flex-wrap: wrap;
        height: 280px;
        justify-content: center;
        background: #f7f9fa;
        padding-bottom: 20px;
    }

    .press-carousel .press-logos,
    .press-carousel .press-content {
        min-width: 100% !important;
        background: none !important;
    }
}