@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: Metropolis;
		src: url(./assets/font/Metropolis-Regular.woff2) format('woff2');
		font-weight: 400;
	}

	@font-face {
		font-family: Metropolis;
		src: url(./assets/font/Metropolis-Medium.woff2) format('woff2');
		font-weight: 500;
	}

	@font-face {
		font-family: Metropolis;
		src: url(./assets/font/Metropolis-Bold.woff2) format('woff2');
		font-weight: 700;
	}
}
